# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Datasets and checkpoints (huge files)
data/
checkpoints/
results/
*.pt
*.pth

# Jupyter Notebooks
.ipynb_checkpoints

# IDEs
.idea/
.vscode/
*.swp
*.swo

# MacOS
.DS_Store
